.home-content-wrapper{
background-image: url("../image/back.jpg");
background.size: cover;
height: 100x;
}

.overlay-box{
padding: 200px 0px;
box-sizing: border-box;
background: rgba(0, 0, 0, 0.5);
height: 100x;
}

.conteiner{
width: 1200px;
margin: 0px auto;
}

.welcome-text{
color: #FFF;
font-size: 75px;
font-family: raleway-bold;
line-height: 90px;
}